################################################################################
# Alan IF for Highlight.js                                                     #
# https://github.com/highlightjs/highlightjs-alan                              #
################################################################################

# ==============================================================================
#                               Alan Related Files                              
# ==============================================================================
# Some ignore patterns for Alan files that might creep-in while working on tests
# and source examples.

## ==========
## Alan Files
## ==========
*.a3c
*.ifid
*.sav

## =============
## AlanIDE Files
## =============
.project

# ==============================================================================
#                        Custom Work-Patterns Miscellanea                       
# ==============================================================================
# Shield repo from various work files which I leave around during dev-frenzy:

# On the fly Backup Files
___*.*

# Links and URLs
*.lnk
*.url

# ==============================================================================
#                        Highlight.js/Node Base Patterns                        
# ==============================================================================
# These are the base .gitignore settings shared by all HJS subprojects...

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# TypeScript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# next.js build output
.next

